<div class="container">
  <h2>Exames Agendados</h2>

  <div class="table-responsive">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Nome Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Paciente </th>
        <td mat-cell *matCellDef="let element"> {{element.nome_paciente}} </td>
      </ng-container>

      <!-- CPF Column -->
      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef> CPF </th>
        <td mat-cell *matCellDef="let element"> {{element.cpf}} </td>
      </ng-container>

      <!-- Exame Column -->
      <ng-container matColumnDef="exame">
        <th mat-header-cell *matHeaderCellDef> Exame </th>
        <td mat-cell *matCellDef="let element"> {{element.tipo_exame}} </td>
      </ng-container>

      <!-- Data Column -->
      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let element"> {{element.data_hora | date: 'dd/MM/yyyy'}} </td>
      </ng-container>

      <!-- Hora Column -->
      <ng-container matColumnDef="hora">
        <th mat-header-cell *matHeaderCellDef> Horário </th>
        <td mat-cell *matCellDef="let element"> {{element.data_hora | date: 'HH:mm'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
  </div>
</div>
