<div class="container">
  <h2>Agendamento de Exame</h2>

  <form [formGroup]="agendamentoForm" (ngSubmit)="onSubmit()" class="form">
    <div class="form-row duo">
      <mat-form-field appearance="outline">
        <mat-label>Nome do paciente</mat-label>
        <input matInput formControlName="nome_paciente" required>
        <mat-error *ngIf="agendamentoForm.get('nome_paciente')?.hasError('required')">
          Nome é obrigatório
        </mat-error>
          <mat-error *ngIf="agendamentoForm.get('nome_paciente')?.hasError('pattern')">
          Nome inválido
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>CPF do paciente</mat-label>
        <input matInput formControlName="cpf" mask="000.000.000-00" required>
        <mat-error *ngIf="agendamentoForm.get('cpf')?.hasError('required')">
          CPF é obrigatório
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row duo">
      <mat-form-field appearance="outline">
        <mat-label>E-mail do paciente</mat-label>
       <input matInput formControlName="email_paciente" type="email" required>
        <mat-error *ngIf="agendamentoForm.get('email_paciente')?.hasError('required')">
          E-mail é obrigatório
        </mat-error>
        <mat-error *ngIf="agendamentoForm.get('email_paciente')?.hasError('email')">
          Digite um e-mail válido
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Cartão do SUS</mat-label>
        <input matInput formControlName="cartao_sus" mask="0000 0000 0000 0000" required>
        <mat-error *ngIf="agendamentoForm.get('cartao_sus')?.hasError('required')">
          Cartão do SUS é obrigatório
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row duo">
     <mat-form-field appearance="outline">
      <mat-label>Tipo de exame</mat-label>
      <mat-select formControlName="id_exame" required>
        <mat-option
          *ngFor="let tipo of tipoExame"
          [value]="tipo.id_exame"
          (click)="onExameSelecionado(tipo.id_exame)"
        >
          {{ tipo.tipo_exame }}
        </mat-option>
      </mat-select>

      <mat-error *ngIf="agendamentoForm.get('id_exame')?.hasError('required')">
        Tipo de exame é obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Data do exame</mat-label>
      <input matInput [matDatepicker]="picker"
        formControlName="data_hora" placeholder="dd/mm/aaaa" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="agendamentoForm.get('data_hora')?.hasError('required')">
        Data é obrigatória
      </mat-error>
    </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Instruções</mat-label>
        <textarea matInput formControlName="instrucoes" rows="3"></textarea>
      </mat-form-field>
    </div>

    <div class="form-actions">
      <button mat-raised-button color="primary" type="submit">
        AGENDAR
      </button>
    </div>
  </form>
</div>
