
.agendamento-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 40px;
}

.form-row {
  width: 100%;

  &.duo {
    display: flex;
    gap: 16px;

    mat-form-field {
      flex: 1;
    }
  }
}

.form-actions {
  display: flex;
  justify-content: center;
  margin-top: 24px;

  button {
    padding: 12px 24px;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 6px;
    background-color: #4713f5;
    color: #ffffff;
    border: none;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 220px;

    &:hover {
      background-color: #303f9f;
    }
  }
}

mat-form-field {
  width: 100%;
}

.success-snackbar {
  background-color: #4caf50;
  color: white;
}

.error-snackbar {
  background-color: #f44336;
  color: white;
}

@media (max-width: 768px) {
  .form-row.duo {
    flex-direction: column;
  }

  h2 {
    font-size: 1.5rem;
  }

  .form-actions button {
    font-size: 14px;
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .agendamento-container {
    padding: 16px;
  }

  h2 {
    font-size: 1.3rem;
  }

  .form-actions button {
    font-size: 13px;
    padding: 8px 16px;
  }
}

::ng-deep .mat-mdc-snack-bar-container.success-snackbar {
  background-color: #4CAF50 !important; /* Verde Material Design */
  color: white !important;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  border-radius: 6px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

::ng-deep .mat-mdc-snack-bar-container.success-snackbar .mdc-snackbar__surface {
  background-color: transparent !important;
}

::ng-deep .mat-mdc-snack-bar-container.success-snackbar .mdc-snackbar__label {
  white-space: normal;
}
