.app-container {
  margin-left: 20px;
  height: 100vh;
}

.app-sidenav {
  width: 400px;
  background: linear-gradient(180deg, #4713f5 0%, #6341f7 100%);
  border-radius: 0 !important;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.logo-container {
  padding: 24px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  display: flex;
  align-items: center;
  gap: 16px;
  transition: all 0.3s ease;

  h1 {
    color: white;
    margin: 0;
    font-weight: bold;
  }
}
.logo-image {
  width: 100px;
  height: auto;
}

::ng-deep .app-sidenav {
  .mat-mdc-nav-list {
    padding: 16px;

    .mat-mdc-list-item {
      border-radius: 0px;
      margin-bottom: 8px;
      transition: all 0.3s ease;
      display: flex;
      align-items: center;

      .mdc-list-item__primary-text {
        color: white !important;
        font-size: 20px;
        font-weight: 500;
        display: flex;
        align-items: center;
      }

      .mat-icon {
        margin-right: 12px;
        color: rgba(255, 255, 255, 0.8);
        width: 24px;
        height: 24px;
        font-size: 24px;
        line-height: 24px;
      }

      &:hover {
        background-color: rgba(28, 12, 82, 0.15) !important;
        transform: translateX(4px);
      }

      &.active {
        background: linear-gradient(90deg,
            rgb(77, 55, 199) 0%,
            rgb(9, 0, 107) 100%) !important;
        font-weight: 600;
      }
    }
  }
}

.app-content {
  padding: 24px;
  background-color: #f5f5f5;
  min-height: calc(100vh - 48px);
}

@media (max-width: 768px) {
  .app-sidenav {
    width: 100% !important;
    max-width: 300px;
    position: absolute;
    z-index: 1000;
  }

  .logo-container h1 {
    font-size: 20px;
  }

  .app-content {
    padding: 16px;
  }

  .logo-image {
    width: 70px;
  }

  ::ng-deep .mat-mdc-nav-list .mat-mdc-list-item .mdc-list-item__primary-text {
    font-size: 16px;
  }

  ::ng-deep .mat-icon {
    font-size: 20px;
  }
}

.vertical-line {
  width: 40px;
  height: 100vh;
  background: linear-gradient(180deg, #4713f5 0%, #6341f7 100%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

mat-toolbar {
  background: #4713f5;
}

mat-toolbar button {
  color: #f5f5f5;
}

mat-toolbar .mat-toolbar-row, .mat-toolbar-single-row {
    padding: 0px;
}


