
<div class="wrapper-container">
   <div class="vertical-line">
      <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" aria-label="Toggle sidenav">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
 </div>

<mat-sidenav-container class="app-container">

  <mat-sidenav #sidenav mode="side" opened class="app-sidenav">
    <div class="logo-container">
      <img src="assets/images/Logo-crehana-2024.png" alt="Logo Examed" class="logo-image">
      <h1>EXAMED</h1>
    </div>

    <mat-nav-list>
      <a mat-list-item routerLink="/agendar-exame" routerLinkActive="active">
        <mat-icon>event</mat-icon>
        <span>AGENDAMENTO</span>
      </a>
      <a mat-list-item routerLink="/cadastrar-exame" routerLinkActive="active">
        <mat-icon>note_add</mat-icon>
        <span>CADASTRAR NOVO EXAME</span>
      </a>
      <a mat-list-item routerLink="/listar-exame" routerLinkActive="active">
        <mat-icon>history</mat-icon>
        <span>EXAMES AGENDADOS</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>
