/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  max-width: 98.5%;
  margin: 0 auto;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(71, 19, 245, 0.1);
  background-color: #ffffff;
  box-sizing: border-box;

  h2 {
    color: #331597;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 1rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 40px;
}
